@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://media.wired.com/photos/639bf35a24c352e627eccc43/master/w_1920,c_limit/Ragnaro%CC%88k-culture-ar1qdh.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}